<a href="https://colab.research.google.com/github/Deepika-Kondapalli3/ml-practice/blob/main/Copy_of_Matplotlib_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matplotlib Assignment

For this assignment, please use Matplotlib to generate the required visualizations. Ensure that you create and customize the plots as specified in the notebook. Submit your notebook with all visualizations properly displayed.

In [1]:
# Run this code cell
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.style.use('ggplot')

import warnings
warnings.filterwarnings('ignore')

url = 'https://new-assets.ccbp.in/frontend/content/aiml/classical-ml/co2_emissions_canada.csv'

# Upload the data on colab and execute this code cell
data = pd.read_csv(url)
data.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

**1. Which Vehicle Class has the highest average CO2 Emissions?**

In [2]:
# write your code here

highest_class =data.groupby('Vehicle Class')['CO2 Emissions(g/km)'].mean().idxmax()
print(highest_class)

VAN - PASSENGER

**2. Find which 3 car manufacturers have the highest median CO2 emissions and display both the make and the median value.**

In [3]:
# write your code here

top_3_median_emissions = data.groupby('Make')['CO2 Emissions(g/km)'].median()
print(top_3_median_emissions.sort_values(ascending=False).head(3))

Make
BUGATTI        522.0
ROLLS-ROYCE    391.5
SRT            389.0
Name: CO2 Emissions(g/km), dtype: float64

**3. For each fuel type, find the minimum and maximum engine size. This gives insight into what range of engine sizes each fuel category typically covers.**

In [4]:
# write your code here

engine_size_range =data.groupby('Fuel Type')['Engine Size(L)'].agg(['min','max'])
print(engine_size_range)

           min  max
Fuel Type
D          1.6  3.0
E          2.0  6.2
N          3.6  3.6
X          1.0  6.8
Z          0.9  8.4

**4. Identify which 5 vehicle classes have the highest average combined fuel consumption.**

In [5]:
# write your code here

top_5_classes =data.groupby('Vehicle Class')['Fuel Consumption Comb (mpg)'].mean()
print(top_5_classes.sort_values(ascending=False).head(5))

Vehicle Class
STATION WAGON - SMALL       34.095238
COMPACT                     31.737769
MID-SIZE                    31.379523
STATION WAGON - MID-SIZE    29.188679
MINICOMPACT                 28.625767
Name: Fuel Consumption Comb (mpg), dtype: float64

**5. Determine which car `make` appears most frequently in the dataset.**

In [6]:
# write your code here

most_common_make =data['Make'].value_counts().idxmax()
print(most_common_make)

FORD

**6. Find the transmission type with the lowest average CO2 emissions.** print it in the given format:
`____ is the lowest CO2 emission average in transmission type.`

In [7]:
# write your code here

lowest_transmission =data.groupby('Transmission')['CO2 Emissions(g/km)'].mean().idxmin()
print("{} is the lowest CO2 emission average in transmission type.".format(lowest_transmission))

AM5 is the lowest CO2 emission average in transmission type.

**7. Find the percentage of cars that have an engine size greater than 3.0L.** print it in the given format: `_____ of cars have an engine size greater than 3.0L.`

In [8]:
# write your code here

percentage_large_engine =((data[data['Engine Size(L)'] > 3.0].shape[0])/len(data)) * 100
print("{:.2f}% of cars have an engine size greater than 3.0L.".format(percentage_large_engine))

42.74% of cars have an engine size greater than 3.0L.

**8. Identify the average fuel consumption for each cylinder count.**

In [9]:
# write your code here

avg_fuel_by_cylinders = data.groupby('Cylinders')['Fuel Consumption Comb (L/100 km)'].mean()
print(avg_fuel_by_cylinders)

Cylinders
3      7.501053
4      8.819410
5     10.196154
6     11.566599
8     14.404708
10    15.528571
12    16.348344
16    22.200000
Name: Fuel Consumption Comb (L/100 km), dtype: float64

**9. Find the car model with the highest CO2 emissions for each manufacturer.**

In [10]:
# write your code here

highest_co2_per_make =  data.loc[data.groupby('Make')['CO2 Emissions(g/km)'].idxmax(), ['Make', 'Model', 'CO2 Emissions(g/km)']]
print(highest_co2_per_make)

               Make                              Model  CO2 Emissions(g/km)
8             ACURA                             TL AWD                  267
4388     ALFA ROMEO               STELVIO QUADRIFOGLIO                  292
3331   ASTON MARTIN                      V12 VANTAGE S                  450
48             AUDI                                 R8                  409
5511        BENTLEY                           Mulsanne                  465
132             BMW                               X6 M                  370
4509        BUGATTI                             CHIRON                  522
2357          BUICK                        ENCLAVE AWD                  323
173        CADILLAC                        CTS-V COUPE                  382
2434      CHEVROLET             EXPRESS 3500 PASSENGER                  465
290        CHRYSLER                      300 SRT (MDS)                  317
3616          DODGE                              VIPER                  387
3630           FIAT                           500X AWD                  226
349            FORD                         E350 WAGON                  488
3732        GENESIS                            G80 AWD                  332
2663            GMC              SAVANA 3500 PASSENGER                  465
501           HONDA                      RIDGELINE AWD                  308
2735        HYUNDAI                        GENESIS AWD                  332
6977       INFINITI                           QX80 4WD                  360
565          JAGUAR                    XKR CONVERTIBLE                  315
4975           JEEP       GRAND CHEROKEE 4X4 TRACKHAWK                  413
2845            KIA                               K900                  318
6046    LAMBORGHINI                 Aventador Roadster                  493
6060     LAND ROVER    Range Rover SVAutobiography LWB                  365
7099          LEXUS                             LX 570                  395
690         LINCOLN                  NAVIGATOR 4X4 FFV                  368
2936       MASERATI            GRANTURISMO CONVERTIBLE                  360
1810          MAZDA                           CX-9 4WD                  292
2971  MERCEDES-BENZ                           AMG G 65                  476
5207           MINI  JOHN COOPER WORKS COUNTRYMAN ALL4                  232
823      MITSUBISHI                   LANCER EVOLUTION                  288
864          NISSAN                          TITAN 4WD                  398
901         PORSCHE                    CAYENNE TURBO S                  358
5337            RAM                           1500 4X4                  382
3179    ROLLS-ROYCE                        PHANTOM EWB                  404
939           SCION                                 xB                  228
3189          SMART                   FORTWO CABRIOLET                  157
945             SRT                        VIPER COUPE                  389
966          SUBARU                        TRIBECA AWD                  301
7348         TOYOTA                        Sequoia 4WD                  385
1058     VOLKSWAGEN                            TOUAREG                  296
1070          VOLVO                           XC90 AWD                  294

**10. Find the average CO2 emissions for automatic vs. manual transmission cars.** print it in the given format: `Vehicle class with widest fuel consumption range: ________`

In [16]:
# write your code here
data['Transmission Type'] = data['Transmission'].apply(lambda x: 'Automatic' if x.startswith('A') else 'Manual')

# Step 2: Average CO2 emissions for each type
avg_emission = data.groupby('Transmission Type')['CO2 Emissions(g/km)'].mean()

# Step 3: Find vehicle class with widest fuel consumption range
fuel_range = data.groupby('Vehicle Class')['Fuel Consumption Comb (L/100 km)'].agg(lambda x: x.max() - x.min())
widest_class = fuel_range.idxmax()

# Step 4: Print in required format
print(f"Vehicle class with widest fuel consumption range: {widest_class}")

Vehicle class with widest fuel consumption range: TWO-SEATER

**11. Find the average CO2 emissions for automatic vs. manual transmission cars.**

In [13]:
# write your code here
def map_transmission(code):
    if code.startswith('A'):
        return 'Automatic'
    elif code.startswith('M'):
        return 'Manual'
    else:
        return 'Other'
data['Transmission Type'] = data['Transmission'].apply(map_transmission)
co2_by_transmission =data.groupby('Transmission Type')['CO2 Emissions(g/km)'].mean()
print(co2_by_transmission)

Transmission Type
Automatic    254.835161
Manual       228.345992
Name: CO2 Emissions(g/km), dtype: float64

**12. Find the car model that has the best fuel efficiency (highest combined mpg) for each fuel type.**

In [14]:
# write your code here

best_fuel_efficiency_per_fuel = data.loc[data.groupby('Fuel Type')['Fuel Consumption Comb (mpg)'].idxmax(), ['Fuel Type', 'Make', 'Model', 'Fuel Consumption Comb (mpg)']]
print(best_fuel_efficiency_per_fuel)

     Fuel Type        Make             Model  Fuel Consumption Comb (mpg)
3512         D   CHEVROLET      CRUZE DIESEL                           45
408          E        FORD     FOCUS SFE FFV                           28
2439         N   CHEVROLET  IMPALA DUAL FUEL                           22
3824         X     HYUNDAI        IONIQ BLUE                           69
2171         Z  VOLKSWAGEN      JETTA HYBRID                           53

**13. Compare the average engine size of vehicles with CO2 emissions above vs. below the median.**

In [15]:
# write your code here

median_co2 =data['CO2 Emissions(g/km)'].median()
print(data.groupby(data['CO2 Emissions(g/km)'] > median_co2)['Engine Size(L)'].mean())

CO2 Emissions(g/km)
False    2.198613
True     4.151939
Name: Engine Size(L), dtype: float64

# END!